//
//
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.

$whites-white: #ffffff;
$whites-white-95-opacity: #ffffff;
$whites-white-93-opacity: #ffffff;
$whites-white-64-opacity: #ffffff;
$whites-white-40-opacity: #ffffff;
$primary-soft: #f5f8ff;
$primary-darken: #003cc7;
$primary-button-hover-state: #004dff;
$primary-400-base: #472f88;
$primary-300: #a585ff;
$primary-200: #adc5ff;
$primary-100-light: #e5edff;
$primary-transparent-64-opacity: #3874ff;
$primary-transparent-40-opacity: #3874ff;
$primary-transparent-24-opacity: #3874ff;
$primary-transparent-20-opacity: #3874ff;
$primary-transparent-8-opacity: #3874ff;
$success-soft: #f0fdec;
$success-darken: #1c6c09;
$success-button-hover-state: #23890b;
$success-400-base: #25b003;
$success-300: #90d67f;
$success-200: #bee8b4;
$success-100-light: #d9fbd0;
$success-transparent-64-opacity: #25b003;
$success-transparent-40-opacity: #25b003;
$success-transparent-24-opacity: #25b003;
$success-transparent-20: #25b003;
$success-transparent-8-opacity: #25b003;
$error-soft: #ffedeb;
$error-darken: #b81800;
$error-button-hover-state: #cc1b00;
$error-400-base: #ec1f00;
$error-300: #f48270;
$error-200: #fabcb3;
$error-100-light: #ffe0db;
$error-transparent-64-opacity: #f43c3c;
$error-transparent-40-opacity: #f43c3c;
$error-transparent-24-opacity: #f43c3c;
$error-transparent-20-opacity: #f43c3c;
$error-transparent-8-opacity: #f43c3c;
$warning-soft: #fff6e0;
$warning-darken: #bc3803;
$warning-button-hover-state----: #d6700a;
$warning-400-base: #e5780b;
$warning-300: #ffcc85;
$warning-200: #ffe6ad;
$warning-100-light: #ffefca;
$warning-transparent-64-opacity: #ffd885;
$warning-transparent-40-opacity: #ffd885;
$warning-transparent-24-opacity: #ffd885;
$warning-transparent-20-opacity: #ffd885;
$warning-transparent-8-opacity: #ffd885;
$info-soft: #f0faff;
$info-darken: #005585;
$info-button-hover-state: #0080c7;
$info-400-base: #0097eb;
$info-300: #60c6ff;
$info-200: #96d9ff;
$info-100: #c7ebff;
$info-transparent-64-opacity: #28b2ff;
$info-transparent-40-opacity: #28b2ff;
$info-transparent-24-opacity: #28b2ff;
$transparent-20: #28b2ff;
$info-transparent-8-opacity: #28b2ff;
$grey-black: #000000;
$grey-soft: #f5f7fa;
$grey-20: #9ca4ad;
$grey-grey-one-light: #edeef7;
$grey-grey-1-light: #edeef7;
$grey-grey-2: #e3e6ed;
$grey-grey-3: #cbd0dd;
$grey-grey-4: #cbcbdd;
$grey-grey-5: #9f9fbc;
$grey-grey-6: #6e7891;
$grey-grey-7: #525b75;
$grey-grey-8: #3e465b;
$grey-grey-9: #31374a;
$grey-grey-10: #31314a;
$grey-grey-11-dark: #1a1724;
$grey-grey-12-darker: #0d0d0d;
$grey-dark-13: #0F111A;
$secondary-400-base: #da9b1a;
