body{
    margin: 0;
    padding: 0;
    left:0;
    right: 0;
}
.logo-col-row{
    padding-right: 0;
    padding-left: 20px;
}
.logo-col-row h2{
    display: inline;
    margin-left: 30%;
    margin-right: auto;
}

.logo {
    width: 10%;
    height: auto;
}


.apps-wrapper{
    padding: 20px;
}
.apps-wrapper .nav{
    margin-left: 3vw;
    margin-right: 3vw;
}
.app-dashboard {
    padding: 10px;
    padding-top: 30px;
    padding-left: 5vw;
}
.app-dashboard .card {
    border-radius: 0.6rem;
}
.app-dashboard .card:hover {
    background-color: #474759;
}
.search-pane{
    padding-left: 34vw;
    margin-top: 15px;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.map-col{
    padding-left: 4vw;
}
#map{
    height: 60vh;
    width: 60vw;
}

#operate{

}
.img-world{
    width: 82vh;
}

@media (max-width: 760px) {
    .search-pane{
        padding-left: 2vw;
        margin-top: 15px;
    }
    .map-col{
        padding-left: 6vw;
    }
    #map{
        height: 60vh;
        width: 85vw;
    }
    
}