.mission_type h4{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.missionDetails{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14pt;
}